html, body{
	padding: 0;
	margin: 0;
	background-color: #000;
}
p, a, h1, h2, h3 ,h4, h5{
	font-family: 'Inconsolata';
	color: white;
}
#content{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	background-image: url(images/mainBackground.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #000;
	transition: all 1.5s linear;
	-webkit-transition: all 1.5s linear;
	-moz-transition: all 1.5s linear;
	-o-transition: all 1.5s linear;
}
#hide{
	width: 100%;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	background-color: #000;
	position: absolute;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}
canvas {
	position: absolute;
}
#content .notify{
	background-color: #000;
	color: #fff;
	z-index: 5;
	position: absolute;
	text-align: center;
	font-size: 17px;
	width: 450px;
	left: calc(50% - 225px);
	top: 40%;
	border: 2px solid #fff;
	padding: 10px;
	opacity: 0;
	transition: all 1.5s linear;
	-webkit-transition: all 1.5s linear;
	-moz-transition: all 1.5s ease-in;
	-o-transition: all 1.5s ease-in;
}
#content .get-text{
	color: #fff;
	font-family: 'Inconsolata';
	position: absolute;
	text-align: center;
	font-size: 17px;
	width: 450px;
	left: calc(50% - 225px);
	top: 35%;
	border: 2px solid #fff;
	padding: 10px;
	opacity: 0;
	transition: all 1.5s linear;
	-webkit-transition: all 1.5s linear;
	-moz-transition: all 1.5s ease-in;
	-o-transition: all 1.5s ease-in;
}
#content .notify .variant {
	display: inline-block !important;
	margin: 10px !important;
}
#content .builded {
	background-image: url(images/hovel.png) !important;
}
#content .get-text .ok, #content .notify .ok, #content .notify .variant{
	font-family: 'Inconsolata';
	width: 40px;
	border: 1px solid #fff;
	margin: 0 auto;
	margin-top: 10px;
	cursor: pointer;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}
#content .get-text .ok:hover{
	color: #000;
	font-weight: bold;
	background-color: #fff;
}
#content .get-text input{
	background-color: #000;
	color: #fff;
	font-family: 'Inconsolata';
	font-size: 15px;
	padding: 2px 5px;
}
#content .main-text{
	display: block;
	position: absolute;
	top: calc(50% - 100px);
	left: calc(50% - 300px);
	color: #fff;
	text-align: center;
	width: 600px;
	font-family: 'IM Fell English SC', serif;
	font-size: 85px;
	text-shadow: -8px 0px 12px #fff;
	letter-spacing: 2px;
	transition: all 3.5s linear;
	-webkit-transition: all 3.5s linear;
	-moz-transition: all 3.5s ease-in;
	-o-transition: all 3.5s ease-in;
}
#content:hover .main-text{
	text-shadow: 8px 0px 15px rgba(255,255,255,0.35);
}
#content .playerInfo{
	z-index: 2;
	font-family: 'Inconsolata';
	opacity: 0;
	border: 1px solid rgba(255,255,255,0.7);
	text-align: center;
	color: #fff;
	font-size: 15px;
	width: 350px;
	background: #000407;
	padding: 25px 10px;
	position: absolute;
	left: calc(50% - 185px);
	top: 15%;
	transition: all 0.7s ease-in-out;
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
}
#content .playerInfoScale:hover{
	top: 40% !important;
}
#content .inBattle{
	top: 15% !important;
	left: 65% !important;
}
#content .playerClass{
	line-height: 25px;
}
#content .playerInfoScale{
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
#content .playerInfo .playerPicture{
	margin: 0 auto;
	width: 320px;
	height: 320px;
	background-image: url(images/player.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
#content .playerInfo .stats{
	margin-top: 15px;
}
#content .playerInfo .health, .enemyInfo .health, .materialInfo .health{
	height: 7px;
	background-color: #961818;
	margin-top: 5px;
	width: 100%;
	transition: all 0.7s linear;
	-webkit-transition: all 0.7s linear;
	-moz-transition: all 0.7s ease-in;
	-o-transition: all 0.7s ease-in;
}
.enemyInfo .wrapper, .materialInfo .wrapper {
	width: 100px;
	height: 100px;
}
.playerPicture .hitPoints, .enemyPicture .hitPoints {
	animation: hitPoints 1s linear;
	position: absolute;
	height: 100px;
	width: 100px;
	left: calc( 50% - 50px);
	top: calc(40% - 50px);
}
.hitPoints p {
	font-size: 30px;
	color: #961818;
	text-shadow: 0px 0px 3px;
}
#content .hiting-circle {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	left: 50%;
	margin-left: -125px;
	top: 400px;
	clip: rect(auto, auto, 124px, auto);
}
#content .hiting-circle #line {
	width: 2px;
	height: 250px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	margin-left: -1px;
	animation: rotateHitLine 4s infinite ease-in-out;
}
#content .hiting-circle #first-limit, #content .hiting-circle #second-limit {
	width: 2px;
	height: 250px;
	background-color: #174d0e;
	position: absolute;
	left: 50%;
	margin-left: -1px;
	transition: all 0.3s linear;
}
#content #gameTimer {
	font-size: 47px;
	height: 100px;
	width: 200px;
	position: absolute;
	top: 130px;
	left: 50%;
	margin-left: -100px;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	font-family: 'IM Fell English SC', serif;
}
#choise{
	width: 100%;
	opacity: 0;
	transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
}
#choise div {
	transition: all 0.5s linear;
	width: 24%;
	transform: rotateZ(-5deg);
	float: left;
	box-shadow: 0px 25px 25px;
	margin: 4px;

}
#choise .forest:after{
	content: 'Go to the forest';
}
#choise .river:after{
	content: 'Go to the river';
}
#choise .swamp:after{
	content: 'Go to the swamp';
}
#choise .buildHovel:after{
	content: 'Try to build a hovel';
}
#choise .builded:after{
	content: 'Go to the hovel' !important;
}
.forest:after, .river:after, .swamp:after, .buildHovel:after, .builded:after{
	display: block;
	opacity: 0;
	padding: 70% 0%;
	width: 120%;
	margin-left: -20%;
	height: 100%;
	margin-top: -10%;
	background-color: rgba(0,0,0,0.6);
	transform: rotateZ(5deg);
	text-align: center;
	color: #fff;
	font-size: 22px;
	font-family: 'Inconsolata';
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	cursor: pointer;
}
.forest:hover:after, .river:hover:after, .swamp:hover:after, .buildHovel:hover:after{
	opacity: 1;
}
.forest, .river, .swamp, .buildHovel{
	background-repeat: no-repeat;
	background-position-x: 15% ;
	overflow:hidden;
}
#choise .forest{
	background-image: url(images/forest.png);
	margin-left: 4%;
}
#choise .river{
	background-image:  url(images/river.png);
	margin-left: -7px;
	}
#choise .swamp{
	background-image:  url(images/swamp.png);
	margin-left: -9px;
	}
#choise .buildHovel{
	background-image:  url(images/buildHovel.png);
	margin-left: -11px;
	}
#content .areaAction{
	width: 1024px;
	height: 600px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: 100%;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}
.enemyInfo .backface, .materialInfo .backface{
	position: absolute;
	backface-visibility: hidden ;
	-webkit-backface-visibility: hidden;
	font-size: 30px;
	color: #fff;
	top: 5%;
	width: 100%;
	font-family: 'IM Fell English SC', serif;
	transform: rotateX(-30deg);
	transform: rotateY(180deg);
}
.hunt, .healingHerbs, .lookForFood, .searchMaterials, .create, .rest, .exit{
	position: absolute;
	border-radius: 100px;
	background-color: rgba(0,0,0,0.8);
	width: 85px;
	height: 85px;
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: 50%;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	cursor: pointer;
}
.hunt{
	background-image: url(images/hunting_icon.png);
	margin-left: 190px;
	margin-top: 200px;
}
.riverActions .hunt {
	margin-left: 305px;
  margin-top: 260px;
}
.healingHerbs{
	background-image: url(images/herb.png);
	background-size: 100% !important;
	margin-top: 400px;
	margin-left: 100px;
}
.lookForFood{
	background-image: url(images/food.png);
	margin-left: 550px;
	margin-top: 350px;
}
.searchMaterials{
	background-image: url(images/materials.png);
	margin-left: 650px;
	margin-top: 150px;
}
.create {
	background-image: url(images/create.png);
	margin-left: 190px;
	margin-top: 200px;
}
.rest {
	background-image: url(images/rest.png);
	margin-left: 650px;
	margin-top: 150px;
}
.exit {
	background-image: url(images/exit.png);
	margin-left: 550px;
	margin-top: 350px;
}
#content .choiseAttack{
	opacity: 0;
	width: 200px;
	height: 100px;
	position: absolute;
	top: 45%;
	left: calc(50% - 100px);
	text-align: center;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}
.hunt:after, .healingHerbs:after, .lookForFood:after, .searchMaterials:after, .create:after, .exit:after, .rest:after{
	display: block;
	opacity: 0;
	margin-left: 100px;
	font-family: 'Inconsolata';
	color: #fff;
	width: 200px;
	font-size: 17px;
	margin-top: 35px;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	cursor: pointer;
}
.hunt:after{
	content: 'Try to hunt';
}
.healingHerbs:after{
	content: 'Search Healing Herbs';
}
.lookForFood:after{
	content: 'Look for food';
}
.searchMaterials:after{
	content: 'Search some materials';
}
.create:after {
	content: 'Create items';
}
.rest:after {
	content: 'Take a rest';
}
.exit:after {
	content: 'Go to the forest';
}

.hunt:hover, .healingHerbs:hover, .lookForFood:hover, .searchMaterials:hover, .create:hover, .exit:hover, .rest:hover {
	box-shadow: 0px 0px 34px 1px rgba(0,0,0,0.9);
}
.hunt:hover:after, .healingHerbs:hover:after, .lookForFood:hover:after, .searchMaterials:hover:after, .create:hover:after, .exit:hover:after, .rest:hover:after{
	opacity: 1;
}
#content .playerInfo .name{
	text-transform: uppercase;
	font-size: 19px;
	font-weight: bold;
}
#content .enemyInfo *, #content .enemyInfo span, #content .materialInfo *, #content .materialInfo span {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
.enemyInfo .streight, .playerInfo .streight{
	position: relative;
}
#content .enemyInfo, #content .materialInfo{
	z-index: 2;
	font-family: 'Inconsolata';
	opacity: 0;
	border: 1px solid rgba(255,255,255,0.7);
	text-align: center;
	color: #fff;
	font-size: 15px;
	width: 350px;
	background: #000407;
	padding: 25px 10px;
	position: absolute;
	left: calc(50% - 185px);
	top: 15%;

	transform-style: preserve-3d;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
}
.enemyInfo, .playerInfo, .materialInfo {
	transform-style: preserve-3d;
}
.enemyInfo .enemyPicture, .materialInfo .materialPicture{
	margin: 0 auto;
	width: 320px;
	height: 320px;
	background-size: 100%;
	margin-bottom: 15px;
	background-repeat: no-repeat;
}
#content .press-space{
	width: 300px;
	height: 100px;
	position: absolute;
	left: calc(50% - 150px);
	top: 65%;
	text-align: center;
}
#content .press-space .hand{
	margin: 0 auto;
	width: 35px;
	height: 35px;
	background-image: url(images/hand.png);;
	background-size: 100%;
	transition: all 3.5s linear;
	-webkit-transition: all 3.5s linear;
	-moz-transition: all 3.5s ease-in;
	-o-transition: all 3.5s ease-in;
	animation: topBottomHand 1.5s infinite;
}

#content .press-space .key{
	margin: 0 auto;
	border: 2px solid #fff;
	position: absolute;
	left: calc(50% - 35px);
	top: 40%;
	-webkit-transform: rotateX(40deg);
	transform: rotateX(40deg);
	border-radius: 4px;
	width: 70px;
	height: 25px;
	animation: topBottomKey 1.5s 0.75s infinite;

}
.attack, .run{
	width: 85px;
	display: inline-block;
	background-color: #000;
	height: 85px;
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #000;
	border-radius: 50px;
	opacity: 0.95;
	cursor: pointer;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}
.attack:hover, .run:hover{
	box-shadow: 0px 0px 34px 1px rgba(0,0,0,0.9);
}
.attack{
	background-image: url(images/attack.png);
	float: left;
}
.run{
	background-image: url(images/run.png);
	float: right;
}
#content .press-space span{
	color: white;
	display: block;
	position: absolute;
	font-family: 'Inconsolata';
}
#content .press-space .left-part{
	top: 45%;
	left: 20%;
}
#content .press-space .right-part{
	right: 10%;
	top: 45%;
}
#content .materialInfo .collect-status {
	height: 7px;
	background-color: #961818;
	margin-top: 5px;
	width: 15%;
	transition: all 0.5s linear;
}
 #workshop {
	width: 680px;
	height: 450px;
	margin: 0 auto;
	background-color: #000;
}
 #workshop .top {
	width: 100%;
	height: 270px;
	margin-top: 10px;
	text-align: center;
}
 #workshop .top .creating,  #workshop .top .player-items {
	border: 1px solid #fff;
	display: inline-block;
	position: relative;
	width: 250px;
	height: 221px;
	padding: 20px;
  background-color: black;
	margin-top: 15px;
}
#workshop .top .creating:before, #workshop .top .player-items:before {
	content: 'Creating';
	display: block;
	position: absolute;
	width: 130px;
	background-color: #000;
	color: #fff;
	font-family: 'Inconsolata';
	left: 50%;
	margin-left: -65px;
	margin-top: -30px;
}
#workshop .top .player-items:before {
	content: 'Your items' !important;
}
#workshop .player-items .item-block {
	height: 40px;
	width: 40px;
	position: absolute;
}
#workshop .top .creating div, #workshop .top .player-items > div {
	position: relative;
	width: 70px;
	height: 70px;
	background-color: #000;
	display: inline-block;
	border: 1px solid #fff;
}
#workshop .middle {
	width: 100%;
	height: 150px;
	margin-top: 10px;
	text-align: center;
	position: relative;
}
#workshop .middle .result-item {
	width: 100px;
	height: 100px;
	background-color: #000;
	border: 1px solid #fff;
	position: relative;
	margin: 0 auto;
  margin-top: 20px;
}
#workshop .middle .result-item:before {
	content: 'Result';
	display: block;
	position: absolute;
	width: 100px;
	background-color: #000;
	color: #fff;
	font-family: 'Inconsolata';
	left: 50%;
	margin-left: -50px;
	margin-top: -12px;
}
#workshop .middle .buttons {
	text-align: center;
	width: 200px;
	height: 100px;
	position: absolute;
	margin-left: 80px;
}
#workshop .middle .buttons a {
	display: block;
	margin: 0 auto;
	width: 120px;
	height: 25px;
	border: 1px solid #fff;
	background-color: #000;
	margin: 0 auto;
	margin-top: 5px;
	line-height: 23px;
	cursor: pointer;
}
/************** hitPoints Animation ************/
@keyframes rotateHitLine {
	0% {
		transform: rotateZ(-90deg);
	}
	50% {
		transform: rotateZ(90deg);
	}
	100% {
		transform: rotateZ(-90deg);
	}
}
@keyframes hitPoints {
	0% {
		margin-top: calc(40% - 50px);
		opacity: 1;
	}
	100% {
		margin-top: calc(10% -50px);
		opacity: 0;
	}
}
/************** hitPoints Animation ************/

@keyframes topBottomHand {
	0%{
		margin-top: -5px;
	}
	50%{
		margin-top: 5px;
	}
	100%{
		margin-top: -5px;
	}
}
@keyframes topBottomKey {
	0%{
		background-color: #fff;
	100%{
		background-color: rgba(0,0,0,0);
	}
}
}

/*********** weather ******** /
/* SUNNY */
.weather{
	position: absolute;
	top:0 ;
	left: 0 ;
	opacity: 0;
	text-align:center;
	margin-top: -60px;
	transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
}
.weather .info{
	background-color: #000;
	margin-left:-20px;
	margin-top:-15px;
	padding: 10px;
	border: 1px solid #fff;
}
.sunny {
	animation: sunny 15s linear infinite;
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
	height: 140px;
	width: 20px;
}
.sunny:before {
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
	content: '';
	height: 140px;
	width: 20px;
	opacity: 1;
	position: absolute;
	bottom: 0px;
	left: 0px;
	transform: rotate(90deg);
}
.sunny:after {
	background: #FFEE44;
	border-radius: 50%;
	box-shadow: rgba(255,255,0,0.2) 0 0 0 15px;
	content: '';
	height: 80px;
	width: 80px;
	position: absolute;
	left: -30px;
	top: 30px;
}
@keyframes sunny {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
/* HEAT */
.heat {
	animation: heat 15s linear infinite;
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
	height: 140px;
	width: 20px;
}
.heat:before {
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
	content: '';
	height: 140px;
	width: 20px;
	opacity: 1;
	position: absolute;
	bottom: 0px;
	left: 0px;
	transform: rotate(90deg);
}
.enemyInfo .inventory-wrapper{
	width: 80% ;
	margin: 0 auto;
}
.enemyInfo .inventory-block {
	display: inline-block;
	background-color: #000 !important;
	border: none !important;
	margin: 20px 25px 10px 30px;
}
.enemyInfo .inventory-block .name {
	margin-left: -5px;
	font-size: 18px;
}
.enemyInfo .inventory-wrapper div {
	background-color: #fff;
	border: 1px solid #fff;
	position: relative;
	background-size: 100%;
	width: 50px;
	height: 50px;
}
.enemyInfo .inventory-block .number {
	position: absolute;
	font-size: 20px;
	height: 30px;
	width: 30px;
	margin: -17px 35px;
	padding: 0px;
	color: #fff;
	border: 1px solid #fff;
	background-color: #000;
}
.enemyInfo .inventory-block .leather {
	background-image: url(images/leather.png);
}
.enemyInfo .inventory-block .meat {
	background-image: url(images/meat.jpg);
}
.playerInfo .player-inventory {
	position: absolute;
	top: 45px;
	right: -25px;
}
.playerInfo .player-inventory .item-block {
	margin-top: 25px;
	width: 50px;
	height: 50px;
	position: relative;
	background-size: 100%;
}
.playerInfo .player-inventory .item-block .description {
	position: absolute;
	left: -85px;
	width: 100px;
	margin-top: -19px;
	background-color: rgba(0,0,0,0.8);
	padding: 7px 15px;
	border: none;
	width: 80px;
	height: auto;
	transition: all 0.5s linear;
}
.playerInfo .player-inventory .item-block > div {
	background-size: 100%;
	background-color: #fff;
	border: 1px solid #fff;
	width: 50px;
	height: 50px;
}
.playerInfo .player-inventory .number {
	position: absolute;
	background-color: #000;
	border: 1px solid;
	width: 25px;
	height: 25px;
	top: -15px;
	right: -15px;
	line-height: 25px;
}
.playerInfo .player-inventory .leather {
	background-image: url(images/leather.png);
}
.playerInfo .player-inventory .meat {
	background-image: url(images/meat.jpg);
}
.playerInfo .player-inventory .wood {
	background-image: url(images/woodInv.png);
}
.playerInfo .player-inventory .branch {
	background-image: url(images/branchInv.png);
}
.playerInfo .player-inventory .rock {
	background-image: url(images/rockInv.png);
}
.heat:after {
	background: #FFEE44;
	border-radius: 50%;
	box-shadow: rgba(255,255,0,0.2) 0 0 0 15px;
	content: '';
	height: 80px;
	width: 80px;
	position: absolute;
	left: -30px;
	top: 30px;
}
@keyframes heat {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* CLOUDY */
.cloudy {
	animation: cloudy 5s ease-in-out infinite;
	background: #FFFFFF;
	border-radius: 50%;
	box-shadow:
		#FFFFFF 65px -15px 0 -5px,
		#FFFFFF 25px -25px,
		#FFFFFF 30px 10px,
		#FFFFFF 60px 15px 0 -10px,
		#FFFFFF 85px 5px 0 -5px;
	height: 50px;
	margin:45px 0px 45px -40px;
	width: 50px;
}
@keyframes cloudy {
	50% { transform: translateY(-20px); }
}

/* rain */
.rain {
	animation: rain 5s ease-in-out infinite 1s;
	background: #CCCCCC;
	border-radius: 50%;
	box-shadow:
		#CCCCCC 65px -15px 0 -5px,
		#CCCCCC 25px -25px,
		#CCCCCC 30px 10px,
		#CCCCCC 60px 15px 0 -10px,
		#CCCCCC 85px 5px 0 -5px;
	display: block;
	height: 50px;
	margin:45px 0px 45px -40px;
	width: 50px;

}
.rain:before {
	animation: rain_rain .7s infinite linear;
	content: '';
	background: #CCCCCC;
	border-radius: 50%;
	display: block;
	height: 6px;
	width: 3px;
	opacity: 0.3;
	transform: scale(.9);
}
@keyframes rain {
	50% { transform: translateY(-20px); }
}

@keyframes rain_rain {
	0% {
		box-shadow:
			rgba(0,0,0,0) 30px 30px,
			rgba(0,0,0,0) 40px 40px,
			#000 50px 75px,
			#000 55px 50px,
			#000 70px 100px,
			#000 80px 95px,
			#000 110px 45px,
			#000 90px 35px;
	}
	25% {
	  	box-shadow:
			#000 30px 45px,
			#000 40px 60px,
			#000 50px 90px,
			#000 55px 65px,
			rgba(0,0,0,0) 70px 120px,
			rgba(0,0,0,0) 80px 120px,
			#000 110px 70px,
			#000 90px 60px;
	}
	26% {
		box-shadow:
			#000 30px 45px,
			#000 40px 60px,
			#000 50px 90px,
			#000 55px 65px,
			rgba(0,0,0,0) 70px 40px,
			rgba(0,0,0,0) 80px 20px,
			#000 110px 70px,
			#000 90px 60px;
	}
	50% {
		box-shadow:
			#000 30px 70px,
			#000 40px 80px,
			rgba(0,0,0,0) 50px 100px,
			#000 55px 80px,
			#000 70px 60px,
			#000 80px 45px,
			#000 110px 95px,
			#000 90px 85px;
	}
	51% {
		box-shadow:
			#000 30px 70px,
			#000 40px 80px,
			rgba(0,0,0,0) 50px 45px,
			#000 55px 80px,
			#000 70px 60px,
			#000 80px 45px,
			#000 110px 95px,
			#000 90px 85px;
	}
	75% {
		box-shadow:
			#000 30px 95px,
			#000 40px 100px,
			#000 50px 60px,
			rgba(0,0,0,0) 55px 95px,
			#000 70px 80px,
			#000 80px 70px,
			rgba(0,0,0,0) 110px 120px,
			rgba(0,0,0,0) 90px 110px;
	}
	76% {
		box-shadow:
			#000 30px 95px,
			#000 40px 100px,
			#000 50px 60px,
			rgba(0,0,0,0) 55px 35px,
			#000 70px 80px,
			#000 80px 70px,
			rgba(0,0,0,0) 110px 25px,
			rgba(0,0,0,0) 90px 15px;
	}
	100% {
		box-shadow:
			rgba(0,0,0,0) 30px 120px,
			rgba(0,0,0,0) 40px 120px,
			#000 50px 75px,
			#000 55px 50px,
			#000 70px 100px,
			#000 80px 95px,
			#000 110px 45px,
			#000 90px 35px;
	}
}

/* snow */
.snow {
	animation: snow 5s ease-in-out infinite 1s;
	background: #FFFFFF;
	border-radius: 50%;
	box-shadow:
		#FFFFFF 65px -15px 0 -5px,
		#FFFFFF 25px -25px,
		#FFFFFF 30px 10px,
		#FFFFFF 60px 15px 0 -10px,
		#FFFFFF 85px 5px 0 -5px;
	display: block;
	height: 50px;
	width: 50px;
	margin:45px 0px 45px -40px;

}
.snow:before {
	animation: snow_snow 2s infinite linear;
	content: '';
	border-radius: 50%;
	display: block;
	height: 7px;
	width: 7px;
	opacity: 0.8;
	transform: scale(.9);
}
@keyframes snow {
	50% { transform: translateY(-20px); }
}
@keyframes snow_snow {
	0% {
		box-shadow:
			rgba(238,238,238,0) 30px 30px,
			rgba(238,238,238,0) 40px 40px,
			#EEEEEE 50px 75px,
			#EEEEEE 55px 50px,
			#EEEEEE 70px 100px,
			#EEEEEE 80px 95px,
			#EEEEEE 110px 45px,
			#EEEEEE 90px 35px;
	}
	25% {
	  	box-shadow:
			#EEEEEE 30px 45px,
			#EEEEEE 40px 60px,
			#EEEEEE 50px 90px,
			#EEEEEE 55px 65px,
			rgba(238,238,238,0) 70px 120px,
			rgba(238,238,238,0) 80px 120px,
			#EEEEEE 110px 70px,
			#EEEEEE 90px 60px;
	}
	26% {
		box-shadow:
			#EEEEEE 30px 45px,
			#EEEEEE 40px 60px,
			#EEEEEE 50px 90px,
			#EEEEEE 55px 65px,
			rgba(238,238,238,0) 70px 40px,
			rgba(238,238,238,0) 80px 20px,
			#EEEEEE 110px 70px,
			#EEEEEE 90px 60px;
	}
	50% {
		box-shadow:
			#EEEEEE 30px 70px,
			#EEEEEE 40px 80px,
			rgba(238,238,238,0) 50px 100px,
			#EEEEEE 55px 80px,
			#EEEEEE 70px 60px,
			#EEEEEE 80px 45px,
			#EEEEEE 110px 95px,
			#EEEEEE 90px 85px;
	}
	51% {
		box-shadow:
			#EEEEEE 30px 70px,
			#EEEEEE 40px 80px,
			rgba(238,238,238,0) 50px 45px,
			#EEEEEE 55px 80px,
			#EEEEEE 70px 60px,
			#EEEEEE 80px 45px,
			#EEEEEE 110px 95px,
			#EEEEEE 90px 85px;
	}
	75% {
		box-shadow:
			#EEEEEE 30px 95px,
			#EEEEEE 40px 100px,
			#EEEEEE 50px 60px,
			rgba(238,238,238,0) 55px 95px,
			#EEEEEE 70px 80px,
			#EEEEEE 80px 70px,
			rgba(238,238,238,0) 110px 120px,
			rgba(238,238,238,0) 90px 110px;
	}
	76% {
		box-shadow:
			#EEEEEE 30px 95px,
			#EEEEEE 40px 100px,
			#EEEEEE 50px 60px,
			rgba(238,238,238,0) 55px 35px,
			#EEEEEE 70px 80px,
			#EEEEEE 80px 70px,
			rgba(238,238,238,0) 110px 25px,
			rgba(238,238,238,0) 90px 15px;
	}
	100% {
		box-shadow:
			rgba(238,238,238,0) 30px 120px,
			rgba(238,238,238,0) 40px 120px,
			#EEEEEE 50px 75px,
			#EEEEEE 55px 50px,
			#EEEEEE 70px 100px,
			#EEEEEE 80px 95px,
			#EEEEEE 110px 45px,
			#EEEEEE 90px 35px;
	}
}

/*********** weather ******** /
